<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="./css/style.css">
<link rel="stylesheet" type="text/css" href="./css/layout.css">
<head>

	<title th:text = "${category.name}"></title>
</head>
<body>
<div class="grid-container">
	<h1 clsas class="grid-item grid-item-1" th:text = "${category.name}"></h1>
			<div class class="grid-item grid-item-2" th:each="review: ${category.reviews}">
					<li>
						<a th:href="@{/review(id=${review.id})}" th:text="${review.name}"></a>
					</li>
				</div>
<footer>
		<a class="grid-item grid-item-3" href ="http://localhost:8080/categories">Back at Categories</a>
</footer>
</div>
</body>
</html>