<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="./css/style.css">
<link rel="stylesheet" type="text/css" href="./css/layout.css">
<head>
	<title>Review</title>
</head>
<body>
	<div class="grid-container">
	<div class="grid-item grid-item-1"><h1>Review</h1>
		<div th:each=review: ${reviewsModel}">
			<h2><p th:text = "${review.name}"></p></h2>
			<img class="circled-center" th:src = "${review.image}">
			<p th:text="${review.description}"></p>
			<section id="content">
			<h3>Category</h3>
			<div th:each="category: ${review.category}">
				<li>
				<a th:href="@{/category(id=${category.id})}" th:text="${category.name}"></a>
				</li>
			<h3> Tags for this review</h3>
				<div th:each="tag: ${review.tags}">
					<a th:href="@{/tag(id=${tag.id})}" th:text="$tag.name}"></a>
				</div>

			<form method="POST">
				<input name="reviewid" type="hidden" th:value="${review.id}"/>
				<input type="text" name ="tagName"/>
				<button th:formaction="@{/add-tag}">Add tag (forms)</button>
			</form>
			<form method="Post">
				<input name="reviewid" type="hidden" th:value="${review.id}"/>
				<ul>
					<li th:each="tag: ${review.tags}"><span th:text="$tag.name"}"</span>
					<button id"x" name="tagId" th:value=${tag.id}" th:formaction="@{remove-tag-button}">&times;</button>
				</ul>
			
			</form>	
		
			<div class="add-comment">
				<form method="POST">
					<section>
					<label>Enter your comment: </label>
					<input type="text" name="description"/>
					</section>
					<section>
					<input type="hidden" th:value="${reviewsModel.id}" name="reviewId"/></section>
				<section>
					<button th:formactoin =	"@{add-comment}">Add comment</button>
				</section>
								</form>
				<div th:each="comment: ${review.comments}">
				<p th:text="${comment.description}"></p>
				</div>
			</div>
			</section>
		</div>
	</div>
	</div>
<footer>
		<a class="grid-item grid-item-3" href ="http://localhost:8080/reviews">Back to reviews</a>
</footer>

</div>
</body>
</html>