<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="./css/style.css">
<link rel="stylesheet" type="text/css" href="./css/layout.css">
<head>
	<title>Review</title>
</head>
<body>
	<div class="grid-container">
	<div class="grid-item grid-item-1"><h1>Review</h1>
		<h2><p th:text = "${review.name}"></p></h2>
		<img class="circled-center" th:src = "${review.image}">
		<p th:text = "${review.description}"></p>
		<section id="content">
			<h3>Categories</h3>
		<div th:each="category: ${review.categories}">
		<li>
			<a th:href="@{/category(id=${category.id})}" th:text="${category.name}"></a>
		</li>
	</section>
	</div>
<footer>
		<a class="grid-item grid-item-3" href ="http://localhost:8080/reviews">Back to reviews</a>
</footer>

</div>
</body>
</html>