<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="./css/style.css">
<link rel="stylesheet" type="text/css" href="./css/layout.css">
<head>

	<title th:text = "${tag.name}"></title>
</head>
<body>
<div class="grid-container">
	<div class="grid-item grid-item-1"><h1 th:text = "${tag.name}"></h1>
			<div class="grid-item grid-item-2"><section id="content" th:each="review: ${tag.reviews}">
					<li>
						<a th:href="@{/review(id=${review.id})}" th:text="${review.name}"></a>
					</li>
			</div>
		</div>
<footer>
		<div class="grid-item grid-item-3">
			<a href ="http://localhost:8080/categories">Back to Tags</a>
		</div>
</footer>
</div>
</body>
</html>